<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ian Mooney - Senior Software Engineer">
    <meta name="author" content="Ian Mooney">

    <title>Ian Mooney - Senior Software Engineer</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top" class="index">
    <% if settings.environment == :production %>
      <%= erb :google_analytics %>
    <% end %>

    <%= erb :nav %>
    <%= erb :header %>
    <%= erb :portfolio %>
    <%= erb :about %>
    <%= erb :statements %>
    <%= erb :footer %>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
      <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->
    <%= erb :portfolio_modal, locals: {
        company_name: 'Thinkific',
        logo_path: 'img/thinkific-logo.jpeg',
        job_title: 'Principal Engineer',
        date: 'Dec 2016 – Present',
        company_url: 'https://thinkific.com',
        description: 'Thinkific is a powerful online course creation platform that allows anyone to easily and fully customize the look and functionality of their online course business.',
        technologies: 'Rails, React, Ember, AWS, GraphQL, Sidekiq, payments with Stripe and PayPal'
    } %>

    <%= erb :portfolio_modal, locals: {
        company_name: 'Tylt',
        logo_path: 'img/tylt-logo.png',
        job_title: 'Co-Founder and CTO',
        date: 'Aug 2018 – Present',
        company_url: 'https://tylt.app',
        description: 'Tylt (Think You\'ll Like This) is an app that allows you to keep track of recommendations we get from friends every day, such as movies, TV shows, books, podcasts or restaurants. It is available on iOS, Android and on the web.<br /><br />This is a side project of mine that allows me to try out different technologies and maintain an app on multiple platforms.',
        technologies: 'Rails API, GraphQL, React, Flutter, Material UI, Firebase'
    } %>

    <%= erb :portfolio_modal, locals: {
        company_name: 'Sticky9',
        logo_path: 'img/sticky9-logo.png',
        job_title: 'Development Manager',
        date: 'Nov 2013 – Aug 2016',
        company_url: 'https://sticky9.com',
        description: 'Sticky9 is a startup within Photobox. It’s an ecommerce site that sells personalised photo products and is most famous for it’s square Instagram magnets. I managed a team of 5 developers and had overall responsibility for all development on the site.',
        technologies: 'Rails 4, AWS (EC2, S3, Cloudfront, Lambda, SQS), Jenkins, Sidekiq, React, Gulp, payments with PayPal and Braintree'
    } %>

    <%= erb :portfolio_modal, locals: {
        company_name: 'Zoola Fix',
        logo_path: 'img/zoolafix-logo.png',
        job_title: 'Full-stack freelancer',
        date: 'Jan 2014 – Jan 2015',
        company_url: 'https://www.zoolafix.com',
        description: 'Zoola Fix is quite similar to Airbnb but focused around nightlife. Guests can search across 48 cities and book one of around 400 Fixers to take them and their friends on a tailor-made night-out. I built this site as a freelance project in my spare time.',
        technologies: 'Rails 4, Heroku, Twitter Bootstrap, payments with Stripe, SMS verifications with Twilio'
    } %>

    <%= erb :portfolio_modal, locals: {
        company_name: 'Yoomee',
        logo_path: 'img/yoomee-logo.png',
        job_title: 'Ruby Developer',
        date: 'Jun 2009 – Nov 2013',
        company_url: 'http://www.yoomee.com',
        description: 'Yoomee is a web agency that designs and develops online communities for social good. Working in a small team meant I was responsible for many aspects of project development. Including server side code, front end development, testing, deployment and client liaison. This is where I first began learning Ruby and has paved the way for my future career in web development.',
        technologies: 'Rails 3, TestUnit, jQuery, CSS, Amazon EC2 with Engine Yard'
    } %>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
  </body>
</html>
