<div class="portfolio-modal modal fade" id="portfolio<%= company_name.delete(' ') %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
          <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <img src="<%= logo_path %>" class="img-responsive img-centered" alt="">
            <h3><%= job_title %><br><small><%= date %></small></h3>
            <strong>
              <a href="<%= company_url %>" target="_blank" alt="sticky9.com"><%= company_url %></a>
            </strong>
            <hr>
            <p>
              <%= description %>
            </p>
            <p>
              <em>
                <%= technologies %>
              </em>
            </p>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
